# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class

# Node / Dependencies
node_modules/
package.json
package-lock.json
bun.lock

# Virtual environments
.venv/
env/
venv/
ENV/

# OS metadata
.DS_Store
Thumbs.db
